@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

html,
body,
main
{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

    height: 100%;

    color: #ecf0f1;
}

a,
a:hover
{
    text-decoration: none;
}

// Make Bootstrap columns heigh equal 
.row
{
    overflow: hidden;
}

[class*='col-']
{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

// Partials 
@import 'resources/assets/sass/partials/home-section';
@import 'resources/assets/sass/partials/about-section';
@import 'resources/assets/sass/partials/skills-section';
@import 'resources/assets/sass/partials/projects-section';
@import 'resources/assets/sass/partials/contact-section';


/*
    CSS for sketching
*/
#sketch-section
{
    padding-top: 80px;
    padding-bottom: 80px;

    background-color: #2e2e2e;
}

.project-section-offset
{
    margin-left: 16.66666667%;
}



.project-pic-full
{
    position: relative;

    width: 100%;
}

.project-description
{
    width: 100%;
    height: 140px;
    padding: 20px;

    background-color: #ecf0f1;
    h2
    {
        font-family: 'Raleway';
        font-size: 1.5em;

        margin: 0;

        color: #2e2633;
    }
    p
    {
        font-family: 'Raleway';
        font-size: 1.1em;

        color: #2e2633;
    }
    .small-line
    {
        width: 30px;
        margin-top: 5px;
        margin-bottom: 10px;

        border-top: 3px solid #2ecc71;
    }
}

.projects-name-color {
    color: #2ecc71;
    color: red;
    border-color: #2ecc71;
}
 
.used-technologies
{
    width: 100%;
    min-height: 140px;
    padding: 0 20px 0 20px;

    background-color: #ecf0f1;
    h3
    {
        font-size: .9em;

        display: inline-block;

        margin: 5px 2px;
        padding: 3px 8px;

        color: #2e2633;
        border: 1.5px solid #2e2633;
        border-radius: 18px;
    }
    p
    {
        font-size: 1em;

        margin: 10px 0 10px 5px;

        color: #27ae60;
    }
}