#section-about
{
    .col-md-7
    {
        height: 100%;

        background-color: #dd7366;
    }
    .col-md-5
    {
        background-color: #2e2633;
    }
    .about-me
    {
        margin-left: 30%;
        padding: 80px 60px 80px 15px;
        p
        {
            font-family: 'Raleway', heletica;
            font-size: 1.18em;

            margin: 0;

            text-align: left;

            color: #ecf0f1;
        }
        .section-name
        {
            display: inline-block;

            margin: 0 0 50px 0;
            padding: 15px;

            color: #2e2e2e;
            border: 3px solid #2e2e2e;
        }
    }
    .profile
    {
        padding: 80px 60px 80px 80px;

        background-color: #2e2633;
        ul
        {
            padding: 0;
        }
        .section-name
        {
            font-size: 2em;

            display: inline-block;

            margin: 0 0 50px 0;
            padding: 15px;

            color: #69d2e7;
            border: 3px solid #69d2e7;
        }
        li
        {
            font-size: 1.15em;

            margin: 0;
            padding: 0;

            list-style: none;
            p
            {
                font-size: 1.25em;
            }
        }
        
    }
}
.small-line
{
    position: relative;


    width: 20px;
    margin-bottom: 30px;

    border-top: 2px solid #69d2e7;
}

